In [1]:
#IMPORTAMOS LIBRERIAS
import pandas as pd
import numpy as np

IMPORTAMOS LOSD DS DE CADA PLATAFORMA, MOSTRAMOS LAS PRIMERAS FILAS DE 1 DE ELLOS, Y CREAMOS UNA LISTA CON LOS 4 DATASETS PARA TRANSFORMARLOS AL MISMO TIEMPO DE ACUERDO CON LAS CONSIGNAS

In [2]:
#DATOS
dfAmazon = pd.read_csv(r"./DATOS/amazon_prime_titles.csv")
dfDisney = pd.read_csv(r"./DATOS/disney_plus_titles.csv")
dfHulu = pd.read_csv(r"./DATOS/hulu_titles.csv")
dfNetflix = pd.read_csv(r"./DATOS/netflix_titles.csv")

LUEGO EMPEZAMOS CON LA TRANSFORMACION DE LOS DATOS DE ACUERDO A LAS CONSIGNAS MEDIANTE FUNCIONES. LO HAGO CON FUNCIONES PORQUE APLICO SOBRE LA LISTA DE DAFRAMES PARA NO REPETIR CODIGO POR CADA PLATAFORMA

In [3]:
'''Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma,
seguido del show_id ya presente en los datasets.'''

# Aplicar la función lambda para agregar la letra  a cada fila en la columna "show_Id"
dfAmazon['id'] = 'a' + dfAmazon['show_id'].astype(str)
dfDisney['id'] = 'd' + dfAmazon['show_id'].astype(str)
dfHulu['id'] = 'h' + dfAmazon['show_id'].astype(str)
dfNetflix['id'] = 'n' + dfAmazon['show_id'].astype(str)

In [4]:
'''Los valores nulos del campo rating reemplazaránse por el string “ G”
(corresponde al rating de madurez: “general para todos los públicos"
utilizando fillna'''

dfAmazon['rating'] = dfAmazon['rating'].fillna('G')
dfDisney['rating'] = dfDisney['rating'].fillna('G')
dfHulu['rating'] = dfHulu['rating'].fillna('G')
dfNetflix['rating'] = dfNetflix['rating'].fillna('G')

In [5]:
'''De haber fechas, debe tener el formatoAAAA-mm-dd'''

# Eliminar los espacios en blanco de la columna "date_added"
dfAmazon['date_added'] = dfAmazon['date_added'].str.strip()

# Convertir la columna "date_added" a datetime y formatearla
dfAmazon['date_added'] = pd.to_datetime(dfAmazon['date_added']).dt.strftime('%Y-%m-%d')

# Eliminar los espacios en blanco de la columna "date_added"
dfDisney['date_added'] = dfDisney['date_added'].str.strip()

# Convertir la columna "date_added" a datetime y formatearla
dfDisney['date_added'] = pd.to_datetime(dfDisney['date_added']).dt.strftime('%Y-%m-%d')

# Eliminar los espacios en blanco de la columna "date_added"
dfHulu['date_added'] = dfHulu['date_added'].str.strip()

# Convertir la columna "date_added" a datetime y formatearla
dfHulu['date_added'] = pd.to_datetime(dfHulu['date_added']).dt.strftime('%Y-%m-%d')

# Eliminar los espacios en blanco de la columna "date_added"
dfNetflix['date_added'] = dfNetflix['date_added'].str.strip()

# Convertir la columna "date_added" a datetime y formatearla
dfNetflix['date_added'] = pd.to_datetime(dfNetflix['date_added']).dt.strftime('%Y-%m-%d')

AGREGAMOS UNA COLUMNA CON EL NOMBRE DE LAS PLATAFORMAS, YA QUE VA A SER NECESARIA CUANDO SE DESARROLLEN LAS CONSULTAS

In [6]:
dfAmazon['platform'] = 'amazon'
dfDisney['platform'] = 'disney'
dfHulu['platform'] = 'hulu'
dfNetflix['platform'] = 'netflix'

LO GUARDAMOS COMO UN SOLO DF PARA PODER IR VIENDO LOS RESULTADO A MEDIDA QUE LE APLICAMOS LAS FUNCIONES DE TRANSFORMACION QUE NO SE PUEDEN APLICAR A LISTAS

In [7]:
dfFinal = pd.concat([dfAmazon, dfDisney, dfHulu, dfNetflix], ignore_index=True)
dfFinal.to_csv(r'DATOS/PLATAFORMAS.csv')

In [8]:
#LO CARGAMOS PARA PODER TRABAJARLO
dfFinal = pd.read_csv(r'DATOS/PLATAFORMAS.csv')

In [9]:
'''El campo duracion debe convertirse en dos campos: duration_inty duration_type. 
El primero será un entero y el segundo una cadena indicando la unidad de medición 
de duración: min (minutos) o temporada (temporadas)'''

dfFinal[['duration_int', 'duration_type']] = dfFinal['duration'].str.split(' ', expand=True)

In [10]:
#REEMPLAZAMOS LOS VALORES NULOS DE LA COLUMNA DURATION_INT POR CEROS PARA PODER CONVERTIR EL DATO A ENTERO
dfFinal['duration_int'] = dfFinal['duration_int'].fillna(0)

In [11]:
# Convertir la columna 'duration_int' a tipo int
dfFinal['duration_int'] = dfFinal['duration_int'].astype(int)

In [12]:
# Reemplazar los valores "seasons" por "season" en la columna "duration_type"
dfFinal['duration_type'] = dfFinal['duration_type'].replace('seasons', 'season')

In [13]:
'''Los campos de texto deben estar en minúsculas , sin excepciones'''

dfFinal = dfFinal.applymap(lambda s: s.lower() if type(s) == str else s)

In [14]:
# Eliminar la columna "Unnamed: 0"
dfFinal = dfFinal.drop('Unnamed: 0', axis=1)

In [15]:
#GUARDAMOS EL ARCHIVO 
dfFinal.to_csv(r'DATOS/PLATAFORMAS.csv')

In [17]:
dfFinal = pd.read_csv(r"DATOS/PLATAFORMAS.csv")

EMPEZAMOS A TRABAJAR CON LOS ARCHIVOS DE RATINGS
ABRIMOS LOS ARCHIVOS DE DATOS DE LOS SCORES DE PELICULAS

In [18]:
d1 = pd.read_csv(r"./ratings/1.csv")
d2 = pd.read_csv(r"./ratings/2.csv")
d3 = pd.read_csv(r"./ratings/3.csv")
d4 = pd.read_csv(r"./ratings/4.csv")
d5 = pd.read_csv(r"./ratings/5.csv")
d6 = pd.read_csv(r"./ratings/6.csv")
d6 = pd.read_csv(r"./ratings/7.csv")
d7 = pd.read_csv(r"./ratings/8.csv")

In [19]:
# Concatenación de los datasets
ratings = pd.concat([d1, d2, d3, d4, d5, d6, d7], ignore_index=True)

# Guardar el dataset concatenado en un archivo CSV
ratings.to_csv('DATOS/RATINGS.csv', index=False)

In [20]:
ratings = pd.read_csv('DATOS/RATINGS.csv')

In [21]:
#cambiamos el nombre de la columna movieId a id
ratings = ratings.rename(columns={'movieId': 'id'})

In [22]:
# Cálculo del promedio de las calificaciones por película de la columna rating, agrupadas por la columna id
ratings['score'] = ratings.groupby('id')['rating'].transform('mean')

In [23]:
#BORRO FILAS DUPLICADAS YA QUE TENGO LOS PROMEDIOS
ratings = ratings.drop_duplicates(subset=['id'])

CONTROLAMOS EL NUMERO DE FILAS PARA HACER LA UNION DE LOS DOS DATASETS

In [24]:
# Obtención del número de filas
num_rows = ratings.shape[0]

# Impresión del número de filas
print("El dataset de ratings tiene", num_rows, "filas.")

# Obtención del número de filas
num_rows1 = dfFinal.shape[0]

# Impresión del número de filas
print("El dataset de plataformas tiene", num_rows1, "filas.")

El dataset de ratings tiene 22998 filas.
El dataset de plataformas tiene 22998 filas.

In [25]:
ratings.to_csv('DATOS/ratings.csv', index=False)

In [26]:
ratings = pd.read_csv('DATOS/ratings.csv')

In [27]:
#UNO EL ARCHIVO CON EL DF FINAL
dfUnido1 =  pd.merge(dfFinal, ratings, on='id')

In [28]:
dfUnido1.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating_x,...,listed_in,description,id,platform,duration_int,duration_type,userId,rating_y,timestamp,score
0,0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,...,"comedy, drama",a small fishing village must procure a local d...,as1,amazon,113,min,543,5.0,1059596582,3.474940
1,1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,...,"drama, international",a metro family decides to fight a cyber crimin...,as2,amazon,110,min,321,3.0,1181451581,3.570913
2,2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,...,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,amazon,74,min,582,5.0,1316843370,3.535230
3,3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,...,documentary,"pink breaks the mold once again, bringing her ...",as4,amazon,69,min,151,1.5,1081454081,3.521792
4,4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,...,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,amazon,45,min,24,5.0,979972491,3.485849

In [29]:
#eliminamos columnas
dfUnido1 = dfUnido1.drop(['Unnamed: 0', 'rating_y'], axis=1)

In [30]:
#GUARDAMOS EL ARCHIVO QUE VAMOS A USAR PARA LAS CONSULTAS
dfUnido1.to_csv(r'DATOS/PLATAFORMAS RATINGS.csv')